<div class="modal-course">
    <form id="updateCourse" name="updateCourse" role="form" ng-submit="vm.onUpdate()" class="form-horizontal">
        <div class="modal-header">
            <button type="button" ng-click="vm.modal.cancel()" class="close">
                <span aria-hidden="true">X</span>
                <span class="sr-only">Close</span></button>
            <h4 id="myModalLabel" class="modal-title">Update your Course </h4>
        </div>
        <div class="modal-body">
            <div role="alert" ng-show="vm.formError" class="alert alert-danger">
                {{vm.formError}}</div>
            <div class="form-group">
                <label for="name" class="col-xs-2 col-sm-2 control-label">Name</label>
                <div class="col-xs-10 col-sm-10">
                    <input type="text" id="name" name="name" placeholder="{{vm.data.name}}" ng-model="vm.formData1.name"
                        class="form-control" />
                </div>
            </div>
            
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <input type="text" id="description" name="description" placeholder="{{vm.data.description}}" ng-model="vm.formData1.description"
                        class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label for="learning" class="col-sm-2 control-label">Learning</label>
                <div class="col-sm-10">
                    <textarea id="learning" name="learning" rows="2" placeholder="{{vm.data.learning}}" ng-model="vm.formData1.learning"
                        class="form-control"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="vm.modal.cancel()" type="button" class="btn btn-
    default">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>