<div class="modal-content">
    <form id="addContent" name="addContent" role="form" ng-submit="vm.onSubmit()" class="form-horizontal">
        <div class="modal-header">
            <button type="button" ng-click="vm.modal.cancel()" class="close">
                <span aria-hidden="true">X</span>
                <span class="sr-only">Close</span></button>
            <h4 id="myModalLabel" class="modal-title">Add your Content </h4>
        </div>
        <div class="modal-body">
            <div role="alert" ng-show="vm.formError" class="alert alert-danger">
                {{vm.formError}}</div>
            <div class="form-group">
                <label for="name" class="col-xs-2 col-sm-2 control-label">Name</label>
                <div class="col-xs-10 col-sm-10">
                    <input type="text" id="name" name="name" ng-model="vm.formData.name"
                        class="form-control" />
                </div>
            </div>
            
            <div class="form-group">
                <label for="link" class="col-sm-2 control-label">Filename:</label>
                <div class="col-xs-10 col-sm-10">
                <input type="text" id="link" name="link" ng-model="vm.formData.link"
                    class="form-control"/>
                </div>
                <div class="col-sm-10">
                    <input type="file" class="custom-file-input pull-right" name="file" id="file1" onchange="readSingleFile(this.files)">
                    <label class="custom-file-label" for="file1" id="file-label">Choose file</label>
                </div>
            </div>

            <div class="form-group">
                <label for="details" class="col-sm-2 control-label">Details</label>
                <div class="col-sm-10">
                    <textarea id="details" name="details" rows="2" ng-model="vm.formData.details"
                        class="form-control"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="vm.modal.cancel()" type="button" class="btn btn-
    default">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>