<navigation></navigation>
<div class="container">
    <page-header content="vm.pageHeader"></page-header>
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <label for="filter">Filter By learning: </label>
            <input id="filter" type="text" , name="filter" , ng-model="textFilter">
            <div class="error">{{ vm.message }}</div>
            <!-- <div class="row list-group"> -->
                
            <div class="row list-group">
                <div class="col-xs-12 list-group-item">
                    <a ng-click="vm.popupCourseForm()"><button type="button" class="btn btn-default" aria-label="plus">
                        <span class="glyphicon glyphicon-plus"></span>
                      Add</button> </a>
                </div>
                <div class="col-xs-12 list-group-item" ng-repeat="course in
    vm.data.courses | filter : textFilter">
                    <a ng-click="vm.updateCourse(course._id)">
                        <span class="glyphicon glyphicon-plus pull-right"></span>
                    </a>
                    <a ng-click="vm.deleteCourse(course._id)">
                        <span class="glyphicon glyphicon-minus pull-right"></span>
                    </a>
                    <h4>
                        <a href="/#/admin/{{ course._id }}">{{ course.name }}</a>
                    </h4>
                    <p class="description">{{ course.description }}</p>
                    <p>
                        <span class="label label-warning label-learning" ng-repeat="learn in course.learning">
                            {{ learn }}
                            &nbsp; 
                        </span>
                    </p>
                </div>
            </div>

            <!-- </div> -->
        </div>
        <div class="col-xs-12 col-sm-4">
            <p class="lead">{{ vm.sidebar.content }}</p>
        </div>
        <div class="col-xs-12 col-sm-4">
           <a href="/#admin/register/teacher"><button type="submit" class="btn btn-default">Click To Register Teachers.</button></a>
           </div> 
    </div>
    <footer-generic></footer-generic>
</div>